<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-icon matSuffix>contact_mail</mat-icon>
    <input matInput placeholder="Full Name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email">
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Your Phone">
    <mat-icon matSuffix>phone</mat-icon>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Your Message"></textarea>
    <mat-icon matSuffix>message</mat-icon>
  </mat-form-field>

  <button mat-raised-button color="warn" (click)="onNoClick()">
    <mat-icon matSuffix style="margin-right:5px">cancel</mat-icon> <span style="font-size:17px;letter-spacing: 1px">Cancel</span>
  </button>

  <button mat-raised-button color="primary" style="float: right" (click)="sendMailData()">
    <mat-icon matSuffix style="margin-right:5px">send</mat-icon> <span style="font-size:17px;letter-spacing: 1px">Send</span>
  </button>

  <form style="margin-top:20px">
    <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
    <address>
      <strong>MAS Taxi Hanau</strong><br>
      Mainzer Str. 50<br>
      D-63456 Hanau<br><br>
      Fax: +49 (0) 61 81 / 3 64 50 73<br>
      Mobil: +49 (0) 1 60 / 7 66 77 88<br>
      Ph: (123) 456-7890 <br>
      <a href="mailto:#">first.last@example.com</a>
    </address>
  </form>

</form>
