<!-- header section fixed to every page (navigation menu)-->
<div class="topnav">
  <div class="topnav-right">
    <img src="../assets/images/taxiwala2.PNG" alt="company logo" class="companylogo" width="130" routerLink="/register">
    <a>HOME</a>
    <a (click)="navSection('profile')">PROFIL</a>
    <a (click)="navSection('taxiservice')">TAXISERVICE</a>
    <a (click)="navSection('preise')">PREISE</a>
    <a (click)="navSection('contact')">KONTACT</a>
    <a class="icon" (click)="responsiveFun()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- menu for small screens -->
 <div class="showmenuclass" #responsiveMenu>
  <ul>
    <li><a >Home</a></li>
    <li><a (click)="navSection('profile')">PROFIL</a></li>
    <li><a (click)="navSection('taxiservice')">TAXISERVICE</a></li>
    <li><a (click)="navSection('preise')">PREISE</a></li>
    <li><a (click)="navSection('contact')">KONTACT</a></li>
  </ul>
</div>


<!-- <router-outlet></router-outlet> -->
<div #homeElm>
  <app-home></app-home>
</div>
<div #profileElm>
  <app-profile></app-profile>
</div>
<div #serviceElm>
  <app-taxiservice></app-taxiservice>
</div>
<div #priceElm>
  <app-preise></app-preise>
</div>
<div #kontaktElm>
  <app-kontakt></app-kontakt>
</div>

<!-- footer section fixed at bottom of every page
 -->
<div class="footersection">
  <footer class="footer2">
    <div class="footer">
      <div class="customcontainer">
        <div class="row">
          <nav class="col-md-3 col-sm-6 col-xs-12">
            <h3>Browse <span>Categories</span></h3>
            <ul>
              <li>
                <a href="#">Lorem Ipsum</a>
              </li>
              <li>
                <a href="#">Lorem Ipsum</a>
              </li>
              <li>
                <a href="#">Lorem Ipsum</a>
              </li>
              <li>
                <a href="#">Lorem Ipsum</a>
              </li>
            </ul>
          </nav>
          <nav class="col-md-3 col-sm-6 col-xs-12">
            <h3>How <span>to Buy</span></h3>
            <ul>
              <li>
                <a href="#">Lorem Ipsum</a>
              </li>
              <li>
                <a href="#">Lorem Ipsum</a>
              </li>
              <li>
                <a href="#">Lorem Ipsum</a>
              </li>
              <li>
                <a href="#">Lorem Ipsum</a>
              </li>
            </ul>
          </nav>
          <nav class="col-md-3 col-sm-6 col-xs-12">
            <h3>Help <span>& Support</span></h3>
            <ul>
              <li>
                <a href="#">Lorem Ipsum</a>
              </li>
              <li>
                <a href="#">Lorem Ipsum</a>
              </li>
              <li>
                <a href="#">Lorem Ipsum</a>
              </li>
              <li>
                <a href="#">Lorem Ipsum</a>
              </li>
            </ul>
          </nav>

          <nav class="col-md-3 col-sm-6 col-xs-12">
            <h3>Lorem <span>Ipsum</span></h3>
            <div class="input-group input-group-md">
              <input type="text" class="form-control" placeholder="Email Address">
              <span class="input-group-addon">Subscribe</span>
            </div>
            <ul class="social">
              <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube fa-lg"></i></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <!--/.footer-bottom-->
    <div class="footer-bottom">
      <div class="container">
        <div class="pull-left"> Copyright © TaxiWala 2018. All right reserved.</div>
      </div>
    </div>
  </footer>
</div>
