<div class="profilepage">
  <div class="about-section paddingTB60 gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-6">
          <div class="about-title clearfix">
            <h1> <span style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-align: center;color: #2E3436">Über
                MAS</span></h1>
            <p class="about-paddingB">Taxi MAS mit über 11 Fahrzeugen sind wir eines der größten Taxi-Unternehmen in
              Hanau. Alle unsere Taxen sind auf
              dem neusten Stand der Technik und werden nach spätestens drei Jahren durch neue Modelle ersetzt.Wir sind
              Ihr kompetenter Partner für
              Taxifahrten in Rhein Main Gebiet, preiswerte Shuttlefahrten vom und zum Flughafen Frankfurt und zu allen
              Flughäfen in Deutschland.14
              engagierte Mitarbeiterinnen und Mitarbeiter sorgen dafür, dass Sie gut betreut werden.Unsere Fahrer
              besitzen mehrjährige Berufserfahrungen.
              Sie sind immer bemüht sich der jeweiligen Situation anzupassen. Egal ob Krankenfahrt, Flughafentransfer,
              Eventservice, Schülerfahrt oder
              die Fahrt um die Ecke. Alles wird zuverlässig und freundlich erledigt. Wir sind immer bemüht uns zu
              verbessern und zu
              steigern. Bitte benutzen Sie unser Buchungsformular auf der Startseite, um eine Fahrt zu planen.
              Lassen Sie sich von unserem zuverlässigen Service überzeugen. Wir freuen uns auf Sie!
            </p>
            <div class="about-icons">
              <ul>
                <li><a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                </li>
                <li><a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                </li>
                <li> <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                </li>
                <li> <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                </li>
              </ul>

            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-6">
          <div class="about-img">
            <img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
