<div class="taxiservicepage">
  <!-- details card section starts from here -->
  <section class="details-card">
    <div class="container">
      <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-align: center;color: #2E3436;margin-bottom: 30px">Services
        MAS Taxi</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card-content">
            <div class="card-img">
              <img src="../../assets/images/airport.jpg" alt="">
            </div>
            <div class="card-desc">
              <h3>Online-Services MAS Taxi
              </h3>
              <p>Bei uns können Sie direkt auf der Webseite ein Taxi über das Buchungsformular bestellen.
                Die Fahrpreise können dazu unter dem Link "Preise" eingesehen werden.</p>
              <a href="#" class="btn-card">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-content">
            <div class="card-img">
              <img src="https://placeimg.com/380/230/animals" alt="">
            </div>
            <div class="card-desc">
              <h3>Zu unserem täglichen Leistungsumfang gehören</h3>
              <p>Bei uns können Sie direkt auf der Webseite ein Taxi über das Buchungsformular bestellen.
                Die Fahrpreise können dazu unter dem Link "Preise" eingesehen werden.</p>
              <a href="#" class="btn-card">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-content">
            <div class="card-img">
              <img src="https://placeimg.com/380/230/tech" alt="">
            </div>
            <div class="card-desc">
              <h3>Ein starker Partner für Firmenkunden</h3>
              <p>Bei uns können Sie direkt auf der Webseite ein Taxi über das Buchungsformular bestellen.
                Die Fahrpreise können dazu unter dem Link "Preise" eingesehen werden.
              </p>
              <a href="#" class="btn-card">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- details card section starts from here -->

</div>
